:root {
  --background-body: #ffffff;
  --background: #efefef;
  --background-alt: #f7f7f7;

  --text: #000000;

  --links: #0076d1;
  --focus: #0096bf;

  --animation-duration: 0.2s;
  --button-hover: #dddddd;

}

.proj {
  padding: 1pt 10px;
  margin: 10pt 0;
}

.proj:nth-child(2n + 1){
	background-color: #e6e6e6;
}

.proj:nth-child(2n){
	background-color: #f2f2f2;
}

